h2.board-title {padding: 0 0 10px 20px;text-align: center;}
.table th {text-align: center;}
.table thead tr th { border-top: solid 1px #c7c7c7 !important;border-bottom: solid 1px #c7c7c7;font-size:16px; padding: 17px 0px;}
.table tbody tr th, .table tbody tr td {border-bottom: solid 1px #e8e8e8;font-size:15px; padding: 17px 0px;}
.table tbody tr:nth-last-child th, .table tbody tr:nth-last-child td {border-bottom: solid 1px #c7c7c7;}
.table tbody tr td {text-align: center;}
.table tbody tr td.title {text-align: left;padding-left: 10px;}
.table {border:none;}